<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheGamemastersChronicler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheGamemastersChronicler.Properties.Settings>
            <setting name="CurrentYear" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CurrentDay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastUsedEventFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OverallChance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PersonalChance" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="TransformingChance" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="RivalChance" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MundaneChance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="SettingChance" serializeAs="String">
                <value>13</value>
            </setting>
        </TheGamemastersChronicler.Properties.Settings>
    </userSettings>
</configuration>